DATABASE_URL="mysql://donpapa:your_password@localhost:3306/donpapa"
DB_ROOT_PASSWORD=your_root_password
DB_PASSWORD=your_password
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=https://donpapagolf.pl
