donpapagolf.pl {
	reverse_proxy app:3000 {
		header_up X-Forwarded-Host donpapagolf.pl
		header_up X-Forwarded-Proto https
	}
}

wp.donpapagolf.pl {
	reverse_proxy wordpress:80
}

www.donpapagolf.pl {
	redir https://donpapagolf.pl{uri} permanent
}
